<a href="https://colab.research.google.com/github/ayaanzhaque/rae/blob/main/category_crime_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports <a name="imports"></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Describe Dataset <a name="describe-dataset"></a>

In [ ]:
train_df = pd.read_csv('/content/train.csv')
test_df = pd.read_csv('/content/test.csv')

### Encode 'DayOfWeek' to Integer:

In [ ]:
days_to_int_dic = {
        'Monday': 1,
        'Tuesday': 2,
        'Wednesday': 3,
        'Thursday': 4,
        'Friday': 5,
        'Saturday': 6,
        'Sunday': 7,
}
train_df['DayOfWeek'] = train_df['DayOfWeek'].map(days_to_int_dic)
test_df ['DayOfWeek'] = test_df ['DayOfWeek'].map(days_to_int_dic)

train_df.DayOfWeek.unique()

array([3, 2, 1, 7, 6, 5, 4])

In [ ]:
from sklearn.preprocessing import LabelEncoder

cat_le = LabelEncoder()
train_df['CategoryInt'] = pd.Series(cat_le.fit_transform(train_df.Category))
train_df.sample(5)
#cat_le.classes_

              Category  ... CategoryInt
411729   LARCENY/THEFT  ...          16
451302         ASSAULT  ...           1
476722   VEHICLE THEFT  ...          36
263442        BURGLARY  ...           4
546962  MISSING PERSON  ...          19

[5 rows x 25 columns]

In [ ]:
train_df['InIntersection'] = 1
train_df.loc[train_df.Address.str.contains('Block'), 'InIntersection'] = 0

test_df['InIntersection'] = 1
test_df.loc[test_df.Address.str.contains('Block'), 'InIntersection'] = 0

In [ ]:
train_df.sample(10)

              Category  ... InIntersection
375195   LARCENY/THEFT  ...              0
701873  OTHER OFFENSES  ...              0
729006   DRUG/NARCOTIC  ...              1
500495  OTHER OFFENSES  ...              1
331462         ASSAULT  ...              0
653999       VANDALISM  ...              0
595972  OTHER OFFENSES  ...              0
816424  OTHER OFFENSES  ...              1
581828   DRUG/NARCOTIC  ...              1
416427   LARCENY/THEFT  ...              1

[10 rows x 26 columns]

# Feature Selection <a name="feature-selection"></a>

**Now let's get our dataset ready for training !**

In [ ]:
train_df.columns

Index(['Category', 'Descript', 'DayOfWeek', 'Address', 'X', 'Y', 'Date',
       'IsDay', 'Hour', 'Month', 'Year', 'HourCos', 'DayOfWeekCos', 'MonthCos',
       'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL', 'PdDistrict_INGLESIDE',
       'PdDistrict_MISSION', 'PdDistrict_NORTHERN', 'PdDistrict_PARK',
       'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN', 'PdDistrict_TARAVAL',
       'PdDistrict_TENDERLOIN', 'CategoryInt', 'InIntersection'],
      dtype='object')

In [ ]:
feature_cols = ['X', 'Y', 'IsDay', 'DayOfWeek', 'Month', 'Hour', 'Year', 'InIntersection',
                'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL', 'PdDistrict_INGLESIDE',
                'PdDistrict_MISSION', 'PdDistrict_NORTHERN', 'PdDistrict_PARK',
                'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN', 'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN']
target_col = 'CategoryInt'

train_x = train_df[feature_cols]
train_y = train_df[target_col]

test_ids = test_df['Id']
test_x = test_df[feature_cols]

In [ ]:
train_x.sample(1)

                 X          Y  ...  PdDistrict_TARAVAL  PdDistrict_TENDERLOIN
344494 -122.429327  37.759568  ...                   0                      0

[1 rows x 18 columns]

In [ ]:
test_x.sample(1)

                 X          Y  ...  PdDistrict_TARAVAL  PdDistrict_TENDERLOIN
435026 -122.402117  37.733235  ...                   0                      0

[1 rows x 18 columns]

# XGBOOST Training (Cross-Validation): <a name="training"></a>

In [ ]:
type(train_x), type(train_y)

(pandas.core.frame.DataFrame, pandas.core.series.Series)