<a href="https://colab.research.google.com/github/ayaanzhaque/rae/blob/main/notebooks/xgboost_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import relevant libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBRegressor
import warnings 

warnings.filterwarnings("ignore")

import data needed for model

In [3]:
data = pd.read_csv("data/clean_data.csv")

preprocess data

In [4]:
data.drop(columns=["Dates"], inplace=True)

In [ ]:
data = pd.get_dummies(data, columns=["PdDistrict", "DayOfWeek", "NFL_Game_Day"], drop_first=True)

In [ ]:
data

       Crimes  avg_temp  ...  DayOfWeek_Wednesday  NFL_Game_Day_1
0          50        14  ...                    0               0
1          32        14  ...                    0               0
2          26        14  ...                    0               0
3          62        14  ...                    0               0
4          52        14  ...                    0               0
...       ...       ...  ...                  ...             ...
22476      21        15  ...                    1               0
22477      19        15  ...                    1               0
22478      49        15  ...                    1               0
22479      26        15  ...                    1               0
22480      34        15  ...                    1               0

[22481 rows x 21 columns]

In [ ]:
X = data.drop(columns=["Crimes"])
y = data["Crimes"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
parameters = {"learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ],
              "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
              "min_child_weight" : [ 1, 3, 5, 7 ],
              "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
              "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]}

In [ ]:
parameters = {"learning_rate"    : 	[0.20],
              "max_depth"        : [5],
              "min_child_weight" : [3],
              "gamma"            : [0.2],
              "colsample_bytree" : [0.7]}

In [ ]:
%%time
xgb = GridSearchCV(XGBRegressor(random_state=42, objective='reg:squarederror'), param_grid=parameters)            
xgb.fit(X_train, y_train)

CPU times: user 7.45 s, sys: 18 ms, total: 7.47 s
Wall time: 7.49 s

In [ ]:
xgb.score(X_train, y_train)

0.7685064954524704

In [ ]:
xgb.score(X_test, y_test)

0.7195060716207007

In [ ]:
xgb.best_params_

In [ ]:
import pickle

In [ ]:
best_pars = xgb.best_params_
best_model = xgb.best_estimator_
pickle.dump(xgb.best_estimator_, open("xgb_best_model.pickle", "wb"))